.divInputs{
    display: flex;
    gap: 10px;
}
.otpinput{
    padding: 22px;
    border: none;
    border-radius: 4px;
    background: #EEF1EB;
    width: 80px;
    padding: 22px 0px 21px 0px;
    justify-content: center;
    color: var(--primary-400, #4C8E00);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.408px;
}