.topBg{
  background: url('/Images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.connect{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.svg{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.connect > h1{
  font-family: Inter;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 0px;
  margin-top: 0px;
  max-width: 1136px;

}
.connect span{
  font-family: Inter;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #4C8E00;
}
.connect div > p{
  font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
width: 58.9%;
    max-width: 1181px;
    margin-bottom: 8%;
}
.formic{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.formic input{
  border: 1px solid #FFF;
  width: 32.9%;
  background: none;
  padding: 16px 0px 16px 20px;;
  border-radius: 1rem;
}
.formic input::placeholder{
  color: #FFF;
}
.button{
width: 10%;
}
.button button{
  padding: 16px 32px 16px 32px;
  border-radius: 16px;
  border: none;
}
.formCover{
  display: flex;
  justify-content: center;
  width: 100%;
}
.weAreP{
  display: flex;
  justify-content: center;
}
.vision{
  display: flex;
  align-items: center;
}
.vision h1{
font-size: 32px;
font-weight: 600;
line-height: 48px;
letter-spacing: 0.01em;
text-align: left;
color: #4C8E00;

}
.vision p{
  max-width: 709px;
  width: 85.2%;
}
.abboutUs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;

}
.abboutUs h1{
font-size: 36px;
font-weight: 700;
line-height: 54px;
letter-spacing: 0.01em;
text-align: left;

}
.abboutUs p{
  width: 65%;
  text-align: center;
}
.coreValues{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  gap: 20px;
}
.coreValues div h1{
font-size: 32px;
font-weight: 600;
line-height: 48px;
letter-spacing: 0.01em;
text-align: left;
color: #4C8E00;

}
.coreValues div{
  width: 54%;
}
.coreValues div p{
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.01em;
text-align: left;

}
.coreValues div li p{
font-size: 20px;
max-width: 606px;
font-weight: 300;
line-height: 30px;
letter-spacing: 0.01em;
text-align: left;

}