.whereImat{
    display: flex;
    gap: 10px;
    width: 25%;
    margin-left: 40px;
}
.first{
    height: 8px;
    width: 50%;
    background: #4C8E00;
    border-radius: 100px;

}
.second{
    background: white;
    width: 25%;
    border-radius: 100px;
}