.flex{
    display: flex;
    gap: 20px;
    align-items: center;
}
.cstepsCrea{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cstepsCrea  p{
    margin: 0px;
    color: #9E9E9E;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    text-align: center;
}
.cstepsCrea div > h1{
    color: #4C8E00;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px;
    
}
.error{
    color: red;
    font-size: 14px;
}
.kind{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #7B7B7B;
}
.hello{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #7B7B7B;
    margin: 0px;

}