.sideImg{
    height: 100vh;
   
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 708px;
    z-index: 10;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -3.67%, #000000 100%);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.whereImat{
    display: flex;
    gap: 10px;
}

.switch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}