.firstBtn {
  width: 100%;
  background: #4c8e00;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.40799999237060547px;
  text-align: center;
  cursor: pointer;
}
