.productsContainer {
  width: 100%;
  background: url("../../assets/images/product-bg.png"), lightgray 0% 0% / 100px 100px repeat, linear-gradient(180deg, #fff 0%, rgba(253, 253, 253, 0.72) 100%);
  padding: 80px 0px;
  background-image: url("../../assets/images/product-bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.productsHead {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 69%;
  max-width: 987px;
  margin: 0px auto;
}

.productsHead h2 {
  color: #1b3200;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 112.5% */
  letter-spacing: 0.48px;
}

.productsHead p {
  color: #4f613b;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 150% */
  letter-spacing: 0.22px;
}

.productsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 69%;
  max-width: 987px;
  margin: 0px auto;
}

.productsCont {
  display: flex;
  gap: 25px;
}

.productsFinance,
.productsAdvisory,
.productsAgro,
.productsMarket {
  border-radius: 16px;
  background: #07783a;
  display: flex;
  padding: 24px;
  box-sizing: border-box;
  width: 49%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  gap: 16px;
}

.productsFinance div,
.productsMarket div,
.productsAgro div,
.productsAdvisory div {
  display: flex;
  gap: 24px;
  align-items: center;
}

.productsFinance div h2,
.productsMarket div h2,
.productsAgro div h2,
.productsAdvisory div h2 {
  color: #e0ffee;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.24px;
}

.productsFinance > p,
.productsAdvisory > p,
.productsAgro > p,
.productsMarket > p {
  color: #a9ffd0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 122.727% */
  letter-spacing: 0.22px;
}

.productsMarket {
  background: #1e55aa;
}

.productsMarket div h2 {
  color: #edf4ff;
}

.productsMarket > p {
  color: #b5d2ff;
}

.productsAgro {
  background: #8e6400;
}

.productsAgro div h2 {
  color: #fff5dc;
}

.productsAgro > p {
  color: #ffe4a8;
}

.productsAdvisory {
  background: #4c8e00;
}

.productsAdvisory div h2 {
  color: #eeffdb;
}

.productsAdvisory > p {
  color: #daffae;
}

@media screen and (max-width: 500px) {
  .productsHead {
    width: 92%;
    max-width: 100%;
  }

  .productsHead h2 {
    font-size: 30px;
    line-height: 45px; /* 150% */
    letter-spacing: 0.3px;
  }

  .productsHead p {
    font-size: 18px;
    line-height: 27px; /* 150% */
    letter-spacing: 0.18px;
  }

  .productsWrapper {
    width: 92%;
    max-width: 100%;
  }

  .productsCont {
    flex-direction: column;
    gap: 24px;
  }

  .productsFinance,
  .productsAdvisory,
  .productsAgro,
  .productsMarket {
    width: 100%;
    align-items: center;
  }

  .productsFinance div h2,
  .productsMarket div h2,
  .productsAgro div h2,
  .productsAdvisory div h2 {
    font-size: 20px;
    line-height: 30px; /* 150% */
    letter-spacing: 0.2px;
  }

  .productsFinance > p,
  .productsAdvisory > p,
  .productsAgro > p,
  .productsMarket > p {
    font-size: 18px;
  }
}
